{% extends 'web/base.html' %}
{% block content %}
<h1>{{ variation.name }}</h1>
<img src="{{ variation.picture.image.url }}" alt="{{ variation.name }}" style="max-height: 200px;">

<div>
    <h3>Informações:</h3>
    <p>Código: {{ variation.code }}</p>
    <p>Descrição: {{ variation.description }}</p>
    <p>Preço: {{ variation.price|default:'0'  }}</p>
    <p>Preço Total: {{ variation.total|default:'0'  }}</p>
</div>


<div>
    <h3>Fotos:</h3>
    {% for picture in variation.pictures.all %}
        <img src="{{ picture.image.url }}" alt="{{ picture.title|default:'' }}" style="max-height: 150px;">
    {% endfor %}
</div>
{% endblock %}
