[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
psycopg2-binary = "*"
dj-database-url = "*"
dj-static = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
